<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Registration verified successfully | Verik IOT</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
          <div class="panel panel-default">
          <div class="panel-body">
          	<h1 class="text-center main-title">Verik IOT</h1>
            <div class="alert alert-success">
              <strong>Success!</strong> Registration verified successfully! Thank you.
            </div>
          </div>
          </div>
        </div>
    </div>
    </div>
  </body>
</html>